<div nz-row nzJustify="center">
    <h1>CRUD PERSONAS</h1>
    <div nz-col [nzXs]="{ span: 22, offset: 0 }" [nzSm]="{ span: 23, offset: 0 }" [nzXl]="{ span: 22, offset: 0}">

        <div nz-col nzOffset="20">
            <button nz-button nzType="primary" (click)="onCreate()">Agregar</button>
        </div>
        <!-- Mostrar el modal con el formulario de crear o editar una persona -->

        <nz-modal [(nzVisible)]="isVisible" nzTitle="Crear Persona" (nzOnCancel)="handleCancel()">
            <ng-container *nzModalContent>
                <app-form-persona (valid)="isValid($event)" (validatedData)="getData($event)" [data]="data"></app-form-persona>
            </ng-container>
            <div *nzModalFooter>
                <button nz-button nzType="default" (click)="handleCancel()">Cancelar</button>
                <button nz-button nzType="primary" [disabled]="!valid" (click)="handleOk()">Guardar</button>
            </div>
        </nz-modal>

        <!-- Lista de personas -->
        <nz-table #personaTable [nzData]="personas" nzTableLayout="fixed" [nzFrontPagination]="false" class="tabla">
            <thead>
                <tr>
                    <th>Identificación</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Fecha de nacimiento</th>
                    <th>Sexo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let persona of personaTable.data">
                    <td>{{ persona.number_identification }}</td>
                    <td>{{ persona.full_name }}</td>
                    <td>{{ persona.full_last_name }}</td>
                    <td>{{ persona.birthdate | date: 'MM/dd/YYYY' }}</td>
                    <td *ngIf="persona.sex === 'f'">femenino</td>
                    <td *ngIf="persona.sex === 'm'">masculino</td>
                    <td>
                        <div nz-row nzJustify="center">
                            <button nz-button nzType="primary" (click)="onEditar(persona)" nzShape="circle" nz-tooltip nzTooltipColor="blue" nzTooltipTitle="Editar">
                                <i nz-icon nzType="edit"></i>
                            </button>
                            <nz-divider nzType="vertical"></nz-divider>
                            <button nz-button nzType="primary" nzDanger (click)="onDelete(persona)" nzShape="circle" nz-tooltip nzTooltipColor="red" nzTooltipTitle="Eliminar">
                                <i nz-icon nzType="delete"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>