<form nz-form [formGroup]="validateForm" class="register-form">

    <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="identificacion" nzRequired>Identificación</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" nzErrorTip="Por favor ingrese su número de identificación!">
            <input nz-input id="identificacion" formControlName="identificacion" placeholder="Ingrese su número de identificación" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="nombre" nzRequired>Nombre</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" nzErrorTip="Por favor ingrese
            el nombre">
            <input nz-input id="nombre" formControlName="nombre" placeholder="Nombre" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="apellido" nzRequired>Apellido</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" nzErrorTip="Por favor ingrese
            el apellido">
            <input nz-input id="apellido" formControlName="apellido" placeholder="Apellido" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="fechaNacimiento" nzRequired>
            Fecha de Nacimiento
        </nz-form-label>
        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Por favor ingrese la fecha de nacimiento">
            <nz-date-picker style="width: 100%;" formControlName="fechaNacimiento" placeholder="Fecha de Nacimiento"></nz-date-picker>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="nombre" nzRequired>Sexo</nz-form-label>
        <nz-form-control>
            <nz-radio-group formControlName="sexo">
                <label nz-radio nzValue="f">Femenino</label>
                <label nz-radio nzValue="m">Masculino</label>
            </nz-radio-group>
        </nz-form-control>
    </nz-form-item>

</form>